
/*.about-us-container {
    background-color: rgb(167, 229, 235);
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
  }*/

  .about-style{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(59, 59, 59, 0.7), rgba(92, 90, 90, 0.7)), url("https://i.pinimg.com/564x/69/93/96/6993968d34ff178e84503e710b5806e3.jpg");
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  margin-top:0;
  color: rgb(239, 241, 242);
  }

 /*h1 {
    
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin-bottom: 20px;
  }
  strong {
    font-weight: bold;
  }
  body {
  background-color: rgb(221, 230, 173);
}*/